<a href='https://github.com/SeWonKwon' ><div> <img src ='https://slid-capture.s3.ap-northeast-2.amazonaws.com/public/image_upload/6556674324ed41a289a354258718280d/964e5a8b-75ad-41fc-ae75-0ca66d06fbc7.png' align='left' /> </div></a>

# 데이터 인코딩

## Label encoding
`LabelEncoder`

* 숫자로 변환 해주기 때문에 , 숫자의 크기에 영향을 받는 알고리즘에는 쓰면 안된다.
    - 예를 들어 회귀 분석에서는 사용 할수 없으며, Tree 알고리즘은 상관없다. (회귀 분석은 One-Hotencding을 사용해야한다.)

In [3]:
from sklearn.preprocessing import LabelEncoder

items = ['TV', '냉장고', '전자레인지', '컴퓨터', '선풍기', '선풍기', '믹서', '믹서']

# LabelEncoder를 객체로 생성한 후, fit()과 transform()으로 레이블 인코딩 수행.

encoder = LabelEncoder()

encoder.fit(items)
labels = encoder.transform(items)

print('인코딩 변환값:', labels)
print('인코딩 class:', encoder.classes_)

인코딩 변환값: [0 1 4 5 3 3 2 2]
인코딩 class: ['TV' '냉장고' '믹서' '선풍기' '전자레인지' '컴퓨터']

In [6]:
# 나온 결과 값을 다시 class로 변환 해주는 역활
encoder.inverse_transform([0,1,2,3,4,5])

array(['TV', '냉장고', '믹서', '선풍기', '전자레인지', '컴퓨터'], dtype='<U5')

## One Hotencoding

* 0과 1로 이루어진 클래스 변수를 만들어 준다. 
    - **더미 변수의 갯수 = 총 클래스 수 - 1**
        - 더미의 함정에 빠지지 말도록!! => default 값으로 꼭 drop!!

######  `sklearn.preprocessing.OneHotEncoder`

In [22]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

X = [['male', 'US', 'Safari'],
     ['female', 'Europe', 'Firefox'],
     ['female', 'Asia', 'Chrome']]

drop_enc = OneHotEncoder(drop='if_binary').fit(X)

In [25]:
cat_l = drop_enc.categories_
cat_l

[array(['female', 'male'], dtype=object),
 array(['Asia', 'Europe', 'US'], dtype=object),
 array(['Chrome', 'Firefox', 'Safari'], dtype=object)]

In [9]:
drop_enc.transform(X).toarray()

array([[1., 0., 0., 1., 0., 0., 1.],
       [0., 0., 1., 0., 0., 1., 0.],
       [0., 1., 0., 0., 1., 0., 0.]])

In [27]:
df = pd.DataFrame(drop_enc.transform(X).toarray(), columns=[x for i in cat_l for x in i  if x != 'female'])
df

   male  Asia  Europe   US  Chrome  Firefox  Safari
0   1.0   0.0     0.0  1.0     0.0      0.0     1.0
1   0.0   0.0     1.0  0.0     0.0      1.0     0.0
2   0.0   1.0     0.0  0.0     1.0      0.0     0.0

## pandas

In [29]:
import pandas as pd

X = [['male', 'US', 'Safari'],
     ['female', 'Europe', 'Firefox'],
     ['female', 'Asia', 'Chrome']]

df = pd.DataFrame(X)
df

        0       1        2
0    male      US   Safari
1  female  Europe  Firefox
2  female    Asia   Chrome

In [31]:
pd.get_dummies(df, drop_first=True)

   0_male  1_Europe  1_US  2_Firefox  2_Safari
0       1         0     1          0         1
1       0         1     0          1         0
2       0         0     0          0         0

# 출처:

* <a href='https://github.com/SeWonKwon' ><div> <img src ='https://slid-capture.s3.ap-northeast-2.amazonaws.com/public/image_upload/6556674324ed41a289a354258718280d/964e5a8b-75ad-41fc-ae75-0ca66d06fbc7.png' align='left' /> </div></a>

<br>

* 빅데이터분석기사 필기, DataEDU

* [이수안컴퓨터연구소](https://www.youtube.com/c/%EC%9D%B4%EC%88%98%EC%95%88%EC%BB%B4%ED%93%A8%ED%84%B0%EC%97%B0%EA%B5%AC%EC%86%8C)

* [R Friend](https://rfriend.tistory.com/636)

* [sklearn](https://scikit-learn.org/)